@model Libreria.Modelos.Libro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioPublicacion" class="control-label"></label>
                <input asp-for="AnioPublicacion" class="form-control" />
                <span asp-validation-for="AnioPublicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadPaginas" class="control-label"></label>
                <input asp-for="CantidadPaginas" class="form-control" />
                <span asp-validation-for="CantidadPaginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadEjemplares" class="control-label"></label>
                <input asp-for="CantidadEjemplares" class="form-control" />
                <span asp-validation-for="CantidadEjemplares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisCodigo" class="control-label"></label>
                <input asp-for="PaisCodigo" class="form-control" />
                <span asp-validation-for="PaisCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorCodigo" class="control-label"></label>
                <input asp-for="AutorCodigo" class="form-control" />
                <span asp-validation-for="AutorCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EditorialCodigo" class="control-label"></label>
                <input asp-for="EditorialCodigo" class="form-control" />
                <span asp-validation-for="EditorialCodigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
